@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER SECTION */

header {
    background-color: #20484f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    transition: all 1s;
}

.header.scroll{
    height: 60px;
}

.header.scroll .auth-btns button, 
.header.scroll nav ul a 
{
    font-size: 1rem;
}

.header.scroll h4{
    font-size: 1.6rem;
}
.header h4 {
    color: #fff;
    font-size: 2rem;
    transition: all 1s;
}

.header nav ul {
    display: flex;
    gap: 1.5rem;
}

.header nav ul a {
    color: #fff;
    font-size: 1.1rem;
    transition: all 1s;
}
.header nav ul a:hover {
    color: #b8e4da;
}

.header .auth-btns {
    display: flex;
    gap: 1rem;
}
.header .auth-btns button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-radius: 0.5rem;
    transition: all 1s;
}

.header .auth-btns button:hover {
    background-color: #b8e4da;
    color: #20484f;
}
.header #menu-icon {
    color: #fff;
    display: none;
}

/* TEAM SECTION */

#team {
    padding: 5rem 0;
    background-color: beige;
    margin-top: 75px;
}
#team .team-title {
    text-align: center;
    padding: 1.5rem 0;
}
#team .team-desc {
    text-align: center;
}

#team .team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 0;
}
.team .team-member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 25%;
    background-color: #fff;
    padding: 2rem 0;
    border-radius: 0.5rem;
}

.team .team-member-card img {
    border-radius: 50%;
    width: 50%;
}

/* FOOTER SECTION */

footer {
    background-color: #20484f;
    padding: 2rem 0;
}
.footer .footer-left,
.footer .footer-right {
    width: 50%;
}

.footer {
    display: flex;
    border-bottom: 1px solid #b8e4da;
    padding: 1rem 0;
}
.footer .footer-left ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer .footer-left ul li {
    font-size: 1rem;
    color: #fff;
}

.footer .footer-left h4 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer .footer-right {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer .footer-right h5 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.footer .footer-right ul li a {
    color: #fff;
    font-weight: 400;
}

footer .copyright {
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

@media only screen and (max-width: 1199px) {
    .container {
        padding: 0 5%;
    }
}
@media only screen and (max-width: 991px) {
    .header nav {
        display: none;
    }

    .header .auth-btns {
        display: none;
    }

    .header #menu-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #team .team {
        gap: 1rem;
        padding: 1.5rem 0;
    }
    .team .team-member-card {
        gap: 0.5rem;
        width: 45%;
        background-color: #fff;
        padding: 2rem 0;
        border-radius: 0.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .team .team-member-card {
        width: 90%;
    }

    .footer {
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .footer .footer-right {
        flex-direction: column;
    }
}
