

.grid-container {
    /* height: 500px; */
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto; 
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 200px 1fr 2fr 200px; */
    /* grid-template-rows: auto auto; */
    /* grid-template-rows: 1fr 2fr 3fr; */

}
.grid-item{
    background-color: red;
    color: wheat;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


/* .grid-item:nth-child(odd) {
    background-color: blue;
} */
 .grid-item.item2{
    background-color: green;
    /* grid-column-start: 1;
    grid-column-end: 4; */

    grid-column: 1 / 4;
    order: -1;
 }

 .grid-item.item5{
    /* grid-row-start:3 ;
    grid-row-end: 5; */
    /* grid-row: 3 / 5; */
    grid-row: 2 / 4;
 }

 .grid-item.item3{
    grid-row: span 4;
 }